@model CharityStartAtHome.Models.Blood
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("What I can do", "Bloodm", "Bloods")</li>
    <li>@Html.ActionLink("Where I can give", "List", "Bloods")</li>
    <li style="color:black">Blood donation center </li>
</ul>

<div class="container">
    <div class="row">
        <div class="col-sx-12 text-center">
            <h1>Where to donate</h1>
            <h2>@Html.DisplayFor(model => model.Center)</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h4 class="text-right">@Html.DisplayNameFor(model => model.Service):</h4>
        </div>
        <div class="col-sm-7">
            <label>Blood donation</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h4 class="text-right">Address: </h4>
        </div>
        <div class="col-sm-7">
            <label id="address">@Html.DisplayFor(model => model.Address)</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h4 text-right">Open hour: </h4>
        </div>
        <div class="col-sm-7">
            <label id="address">@Html.DisplayFor(model => model.Openhour)</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <h4 class="text-right">@Html.DisplayNameFor(model => model.Phone):</h4>
        </div>
        <div class="col-sm-5">
            <label>@Html.DisplayFor(model => model.Phone)</label>
        </div>
    </div>

    <div id="floating-panel">
        <select id="mode" class="btn btn-success">
            <option value="DRIVING">Driving</option>
            <option value="WALKING">Walking</option>
            <option value="BICYCLING">Bicycling</option>
            <option value="TRANSIT">Transit</option>
        </select>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <hr class="style-two" style="width:80%; margin-top:70px">
            <h2>Location map & Café Nearby</h2>
        </div>
        <div class="col-xs-8">
            <div id="details_map"></div>
        </div>
        <div class="col-xs-4">
            <div id="right-panel"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <hr class="style-two" style="width:80%; margin-top:70px">
            <h2>Share</h2>
        </div>
        <div class="col-xs-12">

            <a type="button"
               class="btn btn-dark"
               href="http://twitter.com/intent/tweet?status="
               onclick="showPopup(this.href);return(false);">
                <i class="icon-twitter"></i> Tweet
            </a>

            <a type="button"
               class="btn btn-dark"
               href="http://www.facebook.com/share.php?u=[URL_WEBSITE]&amp;title=[TITLE]"
               onclick="showPopup(this.href);return(false);">
                <i class="icon-facebook"></i> Share
            </a>

            <a type="button" 
               class="btn btn-dark" 
               href="https://plus.google.com/share?url=[URL]" onclick="showPopup(this.href);return(false);">
                <i class="icon-google-plus"></i> Google+
            </a>
        </div>
    </div>




</div>

<script type="text/javascript">
    $(document).ready(function () {
        address = "@Model.Address";
        initDetails();
    });
</script>

