@model CharityStartAtHome.Models.Cloth
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("What I can do", "Clothm", "Clothes")</li>
    <li>@Html.ActionLink("Where I can give", "List", "Clothes")</li>
    <li style="color:black">Detail page</li>
</ul>

<div class="container">
    <div class="row">
        <div class="col-sx-12 text-center">
            <h1>Where to donate</h1>
            <h2>@Html.DisplayFor(model => model.Name)</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h4 class="text-right">@Html.DisplayNameFor(model => model.Service):</h4>
        </div>
        <div class="col-sm-7">
            <label>@Html.DisplayFor(model => model.Service)</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h4 class="text-right">@Html.DisplayNameFor(model => model.Description):</h4>
        </div>
        <div class="col-sm-7">
            <label>@Html.DisplayFor(model => model.Description)</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h4 class="text-right">@Html.DisplayNameFor(model => model.Materials):</h4>
        </div>
        <div class="col-sm-7">
            <label>@Html.DisplayFor(model => model.Materials)</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h4 class="text-right">@Html.DisplayNameFor(model => model.OpenTime):</h4>
        </div>
        <div class="col-sm-7">
            <label>@Html.DisplayFor(model => model.OpenTime)</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h4 class="text-right">@Html.DisplayNameFor(model => model.State):</h4>
        </div>
        <div class="col-sm-7">
            <label>@Html.DisplayFor(model => model.State)</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h4 class="text-right">@Html.DisplayNameFor(model => model.Suburb):</h4>
        </div>
        <div class="col-sm-7">
            <label>@Html.DisplayFor(model => model.Suburb)</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h4 class="text-right">@Html.DisplayNameFor(model => model.Address):</h4>
        </div>
        <div class="col-sm-7">
            <label>@Html.DisplayFor(model => model.Address)</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h4 class="text-right">@Html.DisplayNameFor(model => model.Postcode):</h4>
        </div>
        <div class="col-sm-7">
            <label>@Html.DisplayFor(model => model.Postcode)</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h4 class="text-right">@Html.DisplayNameFor(model => model.Phone):</h4>
        </div>
        <div class="col-sm-7">
            <label>@Html.DisplayFor(model => model.Phone)</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h4 class="text-right">@Html.DisplayNameFor(model => model.Email):</h4>
        </div>
        <div class="col-sm-7">
            <label>@Html.DisplayFor(model => model.Email)</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h4 class="text-right">@Html.DisplayNameFor(model => model.Findme):</h4>
        </div>
        <div class="col-sm-7">
            <label>@Html.DisplayFor(model => model.Findme)</label>
        </div>
    </div>

    @Html.Partial("_MapAndDetails");

    @Html.Partial("_ShareButtons");
</div>

<script type="text/javascript">
    $(document).ready(function () {
        address = "@Model.Address";
        initDetails();
    });
</script>