@model PagedList.IPagedList<CharityStartAtHome.Models.Viccharity>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc;

<ul class="breadcrumb">
    Your are here:
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("What you can help", "Index", "Home")</li>
    <li>@Html.ActionLink("Donate time", "Time", "Viccharities")</li>
    <li style="color:black">Find nearby places</li>
</ul>

<div class="container">

    <div class="row">
        <div class="col-sx-12 text-center">
            <i id="weather-icon"></i>
            <span id="weather-degrees"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sx-12 text-center">
            <h1>Find charity organization near you</h1>
        </div>
    </div>

    <div class="row m-b-20">
        <div class="col-sm-12 text-center">
            @using (Html.BeginForm("List", "Viccharities", FormMethod.Get))
            {
                <b>I am interested in:</b>
                <select id="activity" class="btn btn-success btn-lg m-b-20" name="activity">
                    <option value="" name="activity" selected="selected">Choose a category of charity type...</option>
                    <option value="Aged Care activities" name="activity">Aged Care activities</option>
                    <option value="Animal Protection" name="activity">Animal Protection</option>
                    <option value="Civic and advocacy activities" name="activity">Civic and advocacy activities</option>
                    <option value="Culture and arts" name="activity">Culture and arts</option>
                    <option value="Economic and Social Services" name="activity">Economic and Social Services</option>
                    <option value="Education (Primary, Secondary, High, Other)" name="activity">Education (Primary, Secondary, High, Other)</option>
                    <option value="Emergency relief" name="activity">Emergency relief</option>
                    <option value="Employment and training" name="activity">Employment and training</option>
                    <option value="Grant-Making Activities" name="activity">Grant-Making Activities</option>
                    <option value="Hospital services and rehabilitation activities" name="activity">Hospital services and rehabilitation activities</option>
                    <option value="Environmental Activities" name="activity">Environmental Activities</option>
                    <option value="Health services delivery" name="activity">Health services delivery</option>
                    <option value="Housing activities" name="activity">Housing activities</option>
                    <option value="Income support and maintenance" name="activity">Income support and maintenance</option>
                    <option value="International Activities" name="activity">International Activities</option>
                    <option value="Law and legal services" name="activity">Law and legal services</option>
                    <option value="Mental health and crisis intervention" name="activity">Mental health and crisis intervention</option>
                    <option value="Political activities" name="activity">Political activities</option>
                    <option value="Religious Activities" name="activity">Religious Activities</option>
                    <option value="Research" name="activity">Research</option>
                    <option value="Sport" name="activity">Sport</option>
                    <option value="'OTHER PHILANTHROPIC" name="activity">OTHER PHILANTHROPIC</option>
                </select>

                <input class="search"
                       type="text"
                       name="SearchString"
                       placeholder="Search by Postcode e.g. 3000 or Address"
                       value="@Request["SearchString"]"
                       autofocus />
                <button class="btn btn-success btn-lg">
                    Search
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            }
        </div>
    </div>

    @if (Model.Count == 0)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="text-capitalize">
                    <p><text>No charity organization is found</text></p>
                    <p><text>Please make sure you input a valid postcode/address.</text></p>
                </div>
            </div>
        </div>
    }

    @if (Model.Count > 0)
    {
        <div class="row m-b-20" id="list-items">
            <div class="col-sm-6">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li>
                            <div class="list-group-item flex-column">
                                <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                                <p>
                                    @Html.DisplayFor(modelItem => item.Orgname)
                                    @Html.DisplayFor(modelItem => item.Address1)
                                </p>
                                <h3>Post Code:</h3>
                                <p>@Html.DisplayFor(modelItem => item.Postcode)</p>
                                <h3>Activity:</h3>
                                <p>@Html.DisplayFor(modelItem => item.MainActivit)</p>
                                <h3>Purpose:</h3>
                                <p>@Html.DisplayFor(modelItem => item.Purposes)</p>
                                <div>@Html.ActionLink("Available transport facilities & Café Nearby", "Details", new { id = item.Id }, new { @class = "btn btn-success btn-lg" })</div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-xs-6">
                <div id="map"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-center">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("List",
                                                             new
                                                             {
                                                                 page,
                                                                 sortOrder = ViewBag.CurrentSort,
                                                                 currentFilter = ViewBag.CurrentFilter,
                                                                 option = Request.QueryString["option"],
                                                                 search = Request.QueryString["search"]
                                                             }))
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    // GLOBALS
    var map = null;

    // EVENTS
    $(document).ready(function () {
        var locations = [
            new Location('Bondi Beach', - 33.890542, 151.274856, 4),
            new Location('Coogee Beach', -33.923036, 151.259052, 5),
            new Location('Cronulla Beach', -34.028249, 151.157507, 3),
            new Location('Manly Beach', -33.80010128657071, 151.28747820854187, 2),
            new Location('Maroubra Beach', -33.950198, 151.259302, 1)
        ];

        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8
        });

        for (var i = 0; i < locations.length; i++) {

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i].Latitude, locations[i].Longitude),
                title: locations[i].Title
            });

            marker.setMap(map);
        }

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(addUserMarkerWithWeather, showError, { maximumAge: 0 });
        } else {
            alert("Geolocation is not supported by this browser.");
        }

        $("#map").height($("#list-items").height());
    });

    $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
            $('#back-to-top').fadeIn();
        } else {
            $('#back-to-top').fadeOut();
        }
    });

    $('#back-to-top').click(function () {
        $('#back-to-top').tooltip('hide');
        $('body,html').animate({
            scrollTop: 0
        }, 800);
        return false;
    });
</script>